:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

body {
  background-color: #FAF7FD;
}

#main {
  width: 400px;
  margin: 100px auto;
}

#icon-fav {
  text-align: center;
}

.icon {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: #BB99DD solid 2px ;
  padding: 5px;
}

p {
  font-weight: 300;
  font-family: Poopins;
  color: #BB99DD;
}

#buttons {
  text-align: center;
}

.button {
  display: block;
  margin: 10px auto;
  width: 100px;
  align-items: center;
  border: #BB99DD solid 2px;
  padding: 5px 80px;
}

#footer {
  margin-top: 30px;
  text-align: center;
}

.icon-footer {
  margin: auto 15px;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #BB99DD;
  font-family: Poppins;
  text-align: center;
}